*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
arabic_data.csv filter=lfs diff=lfs merge=lfs -text
german_data.csv filter=lfs diff=lfs merge=lfs -text
russian_data.csv filter=lfs diff=lfs merge=lfs -text
turkish_data.csv filter=lfs diff=lfs merge=lfs -text
armenian_data.csv filter=lfs diff=lfs merge=lfs -text
basque_data.csv filter=lfs diff=lfs merge=lfs -text
belarusian_data.csv filter=lfs diff=lfs merge=lfs -text
bulgarian_data.csv filter=lfs diff=lfs merge=lfs -text
croatian_data.csv filter=lfs diff=lfs merge=lfs -text
czech_data.csv filter=lfs diff=lfs merge=lfs -text
dutch_data.csv filter=lfs diff=lfs merge=lfs -text
estonian_data.csv filter=lfs diff=lfs merge=lfs -text
finnish_data.csv filter=lfs diff=lfs merge=lfs -text
french_data.csv filter=lfs diff=lfs merge=lfs -text
georgian_data.csv filter=lfs diff=lfs merge=lfs -text
greek_data.csv filter=lfs diff=lfs merge=lfs -text
hebrew_data.csv filter=lfs diff=lfs merge=lfs -text
hindi_data.csv filter=lfs diff=lfs merge=lfs -text
icelandic_data.csv filter=lfs diff=lfs merge=lfs -text
irish_data.csv filter=lfs diff=lfs merge=lfs -text
italian_data.csv filter=lfs diff=lfs merge=lfs -text
korean_data.csv filter=lfs diff=lfs merge=lfs -text
latvian_data.csv filter=lfs diff=lfs merge=lfs -text
lithuanian_data.csv filter=lfs diff=lfs merge=lfs -text
norwegian_data.csv filter=lfs diff=lfs merge=lfs -text
persian_data.csv filter=lfs diff=lfs merge=lfs -text
polish_data.csv filter=lfs diff=lfs merge=lfs -text
portuguese_data.csv filter=lfs diff=lfs merge=lfs -text
romanian_data.csv filter=lfs diff=lfs merge=lfs -text
sanskrit_data.csv filter=lfs diff=lfs merge=lfs -text
serbian_data.csv filter=lfs diff=lfs merge=lfs -text
slovenian_data.csv filter=lfs diff=lfs merge=lfs -text
spanish_data.csv filter=lfs diff=lfs merge=lfs -text
ukrainian_data.csv filter=lfs diff=lfs merge=lfs -text
urdu_data.csv filter=lfs diff=lfs merge=lfs -text
